* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #1a1a1a, #4f4f4f, #a6a6a6);
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  mix-blend-mode: screen;
}
.logo-achat {
  width: 25px;
  height: 25px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.marque {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0c0c0;
}
.banniere {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.7) 80%,
      black 100%
    ),
    url("/assets/images/banniere.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.collections {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(0px, 100px);
  padding: 20px;
  border-radius: 25px;
  color: white;
  background-color: #116530;
  border: #d4af37;

  box-shadow: 5px 1px 5px #1a1a1a;
}
.presentation {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-montre {
  width: auto;
  height: 300px;
  border-radius: 20px;
  box-shadow: 5px 1px 5px #1a1a1a;
}
.philosophie {
  display: flex;
  color: white;
}
.savoir {
  display: flex;
  padding: 20px;
  background-color: #116530;
  border-radius: 20px;
  border: #d4af37;
  box-shadow: 5px 1px 5px #1a1a1a;
}
.description {
  display: flex;
  text-align: justify;

  width: auto;
}

.main-container { 
    display: flex ;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
flex-direction: row;
}


.article-container { 
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px ;
    height: 450px;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Blanc légèrement transparent */
    backdrop-filter: blur(10px); /* Effet flou */
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
}
.image-montre {
    height: 250px;
    width: 300px;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 1px 5px #1a1a1a;
}
.Nom { 
    display: flex;
}
.Prix { 
    display: flex;
}
.Ajouter  { 
    display: flex;
}